DB_DATABASE=boa_search_engine_d1
DB_USERNAME=
DB_PASSWORD=

# gemini / ollama / null
AI_SOURCE=null

# number of documents as a context for the Ai
AI_MAX_DOCUMENTS=2

# local ollama
AI_URL="http://ollama:11434/api/chat"
AI_MODEL="deepseek-v3.1:671b-cloud"


AI_TIMEOUT=90

# gemini model an api key
GEMINI_MODEL="gemini-2.5-flash-lite"
GEMINI_API_KEY=
